* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wraper {
  height: 100vh;
  display: flex;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.col h2 {
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  transition: background 0.3s;
  text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
}

.col h2:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.col button {
  outline: none;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.3s;
}

.col button:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.chnageButton {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50px) scale(1);
  padding: 20px;
  border-radius: 5px;
  border: none;
  background: #000;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
}
.chnageButton:hover {
  transform: scale(0.98) translate(-50.2%, -50px);
  background: #000000ca;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
